{% extends "base.html" %}
{% block head %}    {{super()}}    {% endblock head %}
{% block info %} {{super()}} {% endblock info %}
{% block navbar %} <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    	<a class="navbar-brand" href="index.html">KW<span>16</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item active"><a href="loc.html" class="nav-link">Location</a></li>
                <li class="nav-item dropdown"><a href="rooms.html" class="nav-link">Apartment Rooms</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="studio.html">Studio</a>
                  <a class="dropdown-item" href="studiop.html">Studio+</a>
                  <a class="dropdown-item" href="onebedroom.html">One-bedroom</a>
                  <a class="dropdown-item" href="twobedroom.html">Two-bedroom</a>
                </div></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
	      </div>
	    </div>
	  </nav> {% endblock navbar %}
{% block content %}
{% block bckgrnd %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Location <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Location</h1>
          </div>
        </div>
      </div>
    </section>
{% endblock bckgrnd %}
   	<section class="ftco-section bg-light">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2>Check out interesting places in the neighbourhood</h2>
            </div>
        </div>
    	<div class="container">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row no-gutters">
								<div class="col-lg-5 col-md-6 d-flex align-items-stretch">
									<div class="contact-wrap w-100 p-md-5 p-4">
										<div class="container ">
										  <ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item">
											  <a class="nav-link active" id="universities-tab" data-toggle="tab" href="#universities" role="tab" aria-controls="universities" aria-selected="true">Universities</a>
											</li>
											<li class="nav-item">
											  <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
											</li>
											<li class="nav-item">
											  <a class="nav-link" id="attractions-tab" data-toggle="tab" href="#attractions" role="tab" aria-controls="attractions" aria-selected="false">Attractions</a>
											</li>
										  </ul>
										  <div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="universities" role="tabpanel" aria-labelledby="universities-tab">
											  <h2>Universities</h2>
											  <ul>
											  	<li><strong>Medical University of Warsaw</strong><br>Approx. 15 minutes by tram or bus.</li><br>
												<li><strong>University of Warsaw</strong><br>Approx. 35 minutes by tram or bus.</li><br>
												<li><strong>Warsaw University of Technology</strong><br>Approx. 20 minutes by tram or bus.</li><br>
												<li><strong>Warsaw School of Economics</strong><br>Approx. 30 minutes by tram or bus.</li><br>
												<li><strong>Warsaw University of Life Sciences</strong><br>Approx. 20 minutes by tram or bus.</li><br>
											  </ul>
											</div>
											<div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
											  <h2>Services</h2>
											  <ul>
                                                <li><strong>Chopin airport</strong><br>Approx. 10 minutes by bus or taxi.</li><br>
											  	<li><strong>Lidl Store</strong><br>Approx. 5 minutes on foot.</li><br>
												<li><strong>Swimming Pool</strong><br>Approx. 10 minutes on foot.</li><br>
												<li><strong>Biedronka Store</strong><br>Approx. 5 minutes on foot.</li><br>
												<li><strong>Rossman Drugstore</strong><br>Approx. 5 minutes on foot.</li><br>
												<li><strong>Post Office</strong><br>Approx. 2 minutes on foot.</li><br>
												<li><strong>Parcel Locker - Paczkomat</strong><br>Approx. 5 minutes on foot.</li><br>
											  	<li><strong>Westfield Mokotów shopping mall</strong><br>Approx. 10 minutes by bus.</li><br>
											  </ul>
											</div>
											<div class="tab-pane fade" id="attractions" role="tabpanel" aria-labelledby="attractions-tab">
											  <h2>Attractions</h2>
											  <ul>
											  	<li><strong>Park Szczęśliwicki</strong><br>Approx. 10 minutes by tram or bus.</li><br>
												<li><strong>Park Pole Mokotowskie</strong><br>Approx. 25 minutes by tram or bus.</li><br>
												<li><strong>Palace of Culture and Science</strong><br>Approx. 20 minutes by tram or bus.</li><br>
												<li><strong>Boulevards on the Vistula River</strong><br>Approx. 40 minutes by tram or bus.</li><br>
												<li><strong>Old Town</strong><br>Approx. 30 minutes by tram or bus.</li><br>
											  </ul>
											</div>
										  </div>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-md-6 d-flex align-items-stretch">
									<div class="contact-wrap  w-100 p-md-5 p-4">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.0018725910318!2d20.951212977239802!3d52.18883867197634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719335b0bfa5f01%3A0xed4a80d1b55f508f!2sKazimierza%20Wielkiego%2016%2C%2002-249%20Warszawa!5e0!3m2!1spl!2spl!4v1714568502464!5m2!1spl!2spl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
    	</div>
    </section>
{% endblock content %}
{% block footer %}  {{super()}}    {% endblock footer%}
{% block misc %}    {{super()}}    {% endblock misc %}

